@keyframes rotatemercury {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.sun_1{
    position: absolute;
    width: 14vh;
    height: 14vh;
    animation: rotatesun 5s linear infinite;
}
.sun_1_main{
    position: absolute;
    height: 5vh;
    width: 5vh;
    background-color: rgba(255, 255, 0);
    border-radius: 50%;
    box-shadow: 0 0 4px 6px rgba(255, 255, 0);
}
