.header{
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    top:0;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
}
h1{
    position: absolute;
    left: 43%;
    top: 25%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
img{
    position: absolute;
    height: 80px;
    width: 180px;
    top:1%;
    right: 1%;
}
.info{
    width: 53%;
    height: 22%;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    font-size: 1.1rem;
}
.pole_header{
    margin: auto;
    width: 3.5%;
    height: 5%;
    margin-top: 1%;
    color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: rgb(66, 66, 66);
}
.pole {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    column-gap: 20px;
}
.card{
    background-color:rgb(66, 66, 66);
    color: white;
    width: 250px;
    height: 80px;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
}
.pole_header1{
    margin: auto;
    width: 17%;
    height: 22px;
    margin-top: 2%;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: rgb(66, 66, 66);
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    column-gap: 20px;
}

.nadpis{
    font-size: 1.2rem;}
.card1{
    background-color:rgb(66, 66, 66);
    color: white;
    width: 350px;
    height: 170px;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
}
.info_header1{
    width: 12%;
    height: 20px;
    padding: 1%;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    position: absolute;
    margin: auto;
    left: 24%;
    font-size: 1.1rem;
    top:80%;
}
.info1{
    width: 26%;
    height:10%;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    position: absolute;
    justify-content: center;
    margin: auto;
    left: 17%;
    text-align: center;
    font-size: 1.1rem;
    top:88%;
}

.info_header2{
    width: 10%;
    height: 20px;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    position: absolute;
    justify-content: center;
    margin: auto;
    right: 24%;
    text-align: center;
    font-size: 1.1rem;
    top:80%;
}
.info2{
    width: 28%;
    height: 4%;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    position: absolute;
    justify-content: center;
    margin: auto;
    right: 15%;
    text-align: center;
    font-size: 1.1rem;
    top:88%;
}
.info_header3{
    width: 17%;
    height: 55px;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    font-size: 1.5rem;
}
.info3{
    width: 25%;
    height:18%;
    padding: 1%;
    background-color: rgb(66, 66, 66);
    color: white;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    left: 42%;
    text-align: center;
    font-size: 1.5rem;
    top:163%;
}